name: Apply DB Migrations to production DB

on:
  push:
    branches: ["main"]

jobs:
  migrate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ./tooling/github/setup

      - name: Migrate
        env:
          POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
        run: pnpm db:migrate
